<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/home" class="navbar-brand">Sarah J. Maas</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a routerLink="/books" class="nav-item nav-link">Books</a>
            <a href="#" class="nav-item nav-link">News</a>
            <a href="#" class="nav-item nav-link">Events</a>
            <a href="#" class="nav-item nav-link">Extras</a>
            <a href="#" class="nav-item nav-link">About</a>
            <a href="#" class="nav-item nav-link">Contact</a>
        </div>
    </div>
</nav>