<div class="page container-fluid">
    <article>
        <h1>Now Available</h1>
        <div class="article">
                <img class="book img-fluid img-thumbnail rounded" src="..\assets\court_of_silver_flames.jpg" alt="A Court of Silver Flames"/>
                <p class="emphasis">
                    Untamed power. Untamed passion.
                </p>
                <p>
                    Nesta Archeron has always been prickly-proud, swift to anger, and slow to forgive.
                    And ever since being forced into the Cauldron and becoming High Fae against her will, she’s struggled to find a place for herself within the strange, deadly world she inhabits.
                    Worse, she can’t seem to move past the horrors of the war with Hybern and all she lost in it.
                </p>
                <p>
                    The one person who ignites her temper more than any other is Cassian, the battle-scarred warrior whose position in Rhysand and Feyre’s Night Court keeps him constantly in Nesta’s orbit. 
                    But her temper isn’t the only thing Cassian ignites. 
                    The fire between them is undeniable, and only burns hotter as they are forced into close quarters with each other.
                </p>
                <p>
                    Meanwhile, the treacherous human queens who returned to the Continent during the last war have forged a dangerous new alliance, threatening the fragile peace that has settled over the realms. 
                    And the key to halting them might very well rely on Cassian and Nesta facing their haunting pasts.
                </p>
                <p>
                    Against the sweeping backdrop of a world seared by war and plagued with uncertainty, Nesta and Cassian battle monsters from within and without as they search for acceptance-and healing-in each other’s arms.
                </p>
                <div class="ordering text-center">
                    <p class="emphasis">Order Now</p>
                    <div>
                        <a href="https://www.amazon.com/Court-Silver-Flames-Thorns-Roses-ebook/dp/B08CHNCDN5/ref=sr_1_1?crid=1KT1ZB9IJGCCO&dchild=1&keywords=a+court+of+silver+flames&qid=1602354589&sprefix=a+cour+of+silver%2Caps%2C163&sr=8-1">Amazon</a> | 
                        <a href="https://www.barnesandnoble.com/w/a-court-of-silver-flames-sarah-j-maas/1137236764">Barnes & Noble</a> | 
                        <a href="https://www.booksamillion.com/p/Court-Silver-Flames-BAM-Exclusive/Sarah-J-Maas/9781635577556?id=7130947467371#">Books-A-Million</a> |
                        <a href="https://www.indiebound.org/book/9781681196282">Indie Bound</a> |
                        <a href="https://www.amazon.co.uk/Court-Silver-Flames-Thorns-Roses-ebook/dp/B08BS4ZJS6">Amazon UK</a> |
                        <a href="https://www.waterstones.com/book/a-court-of-silver-flames/sarah-j-maas/9781526634757">Waterstones</a> |
                        <a href="https://www.bookdepository.com/Court-Silver-Flames-Sarah-J-Maas/9781526602312#:~:text=Nesta%20Archeron%20has%20always%20been,strange%20and%20deadly%20Night%20Court.">Book Depository</a> |
                        <a href="https://www.target.com/p/a-court-of-silver-flames-court-of-thorns-and-roses-by-sarah-j-maas-hardcover/-/A-79863089">Target</a>
                    </div>
                </div>
            
        </div>
        
    </article>
</div>
