div {
    color: white;
    padding: 12px;
    align-items: center;
}


.book {
    height: 30%;
    width: 30%;
    margin: 2%;
}

img {
    float: right;
}

.page {
    justify-content: center;
    width: 85%;
    color: white;
    overflow: visible;  
}

.emphasis {
    font-weight: bold;
    font-style: italic;
}

a {
    color: white;
}


